@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --bg-color: #1a1a1a;
  --text-color: #fff;
  --card-bg: #aaa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.d-none {
  display: none;
}

header {
  background-color: var(--text-color);
  color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}
.navigation-links {
  display: flex;

  & li {
    padding: 0 1rem;

    &:hover, .active {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  & a {
    text-decoration: none;
    color: var(--bg-color);

    &:hover, .active {
      text-decoration: underline;
      cursor: pointer;
    }
}
}

ul {
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 4rem 0;
}

.countries-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1.5rem;
  
  width: 80%;

}

.card-country {
  background-color: var(--card-bg);
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  position: relative;

  &:hover:before {
    content: "Click to add favorite";
    position: absolute;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    z-index: 99;
    text-align: center;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
    font-size: 2rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  & figure {

    & img {
      width: 100%;
      border-radius: 8px 8px 0 0;
      object-fit: scale-down;
      object-position: center;
      height: 200px;
    }
  }

  .details {
    padding: 0 1rem 1rem 1rem;
  }
}

.search-container {
  text-align: center;
  & form {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;

    & input {
      border-radius: 8px;
      border: none;
      padding: 0.5rem;
    }

    & button {
      border: none;
      padding: 0.5rem 1rem;
      background-color: var(--text-color);
      color: var(--bg-color);
      border-radius: 2rem;
    }
  }
}
